.back{
    background:#37475a;
    color:white;
    text-align:center;
    padding:15px;
    font-size:14px;
    cursor:pointer;
}

.back:hover{
    background:#485769;
}
.footer-container{
    background-color: #232f3e;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 120px;
    gap: 40px;
    font-family: Arial, sans-serif;
}
.footer-title{
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
}
.footer-container div div{
    font-size: 14px;
    color: #ddd;
    cursor: pointer;
    margin-bottom: 8px;
}

.footer-container div div:hover{
    text-decoration: underline;
}
.footer-bottom{
    background:#131a22;
    color:#ddd;
    text-align:center;
    padding:30px 80px;
}

.footer-logo img{
    width:100px;
    margin-bottom:12px;
}

.footer-lang{
    display:inline-block;
    border:1px solid #555;
    padding:6px 12px;
    margin-bottom:20px;
    font-size:14px;
    color:white;
}

.footer-countries{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    max-width:900px;
    gap:12px 18px;
    font-size:13px;
}

.footer-countries span{
    cursor:pointer;
}

.footer-countries span:hover{
    text-decoration:underline;
}
.footer-bottom{
    width: 100%;
    background:#131a22;
    color:#ddd;
    text-align:center;
    padding:30px 80px;
    display:flex;
    flex-direction:column;
    align-items:center;
}