@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
body{
    background-color: #dadada;
}
a{
    text-decoration: none;
    color:inherit;
}
/* NAVBAR */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #131921;
    padding: 10px 20px;
    color: #fff;;
}
/* LOCATION */
.nav-country{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
}
.nav-country h1{
    color: #fff;
    font-size: 14px;
}

/* SEARCH BAR */
.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: gray;
    max-width: 1000px;
    border-radius:4px;
    margin-left: 15px;
}
/* CATEGORY */
.nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;
}
/* INPUT */
.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%
}
/* SEARCH BUTTON */
.nav-search-icon{
    max-width:41px;
    padding: 8px;
    background: #ffd64f;
    border-radius: 0 4px 4px 0;
}
.nav-language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}
.nav-text{
    margin-left: 15px;
}
.nav-text p{
    font-size: 10px;
}
.nav-text h1{
    font-size: 14px;
}
.nav-cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: #fff;
    font-size: 15px;
 }
 .nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
 }
 .header-Slider ul{
    display: flex;
    overflow-y: hidden;
 }
 .header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
  }
.header-Slider a{
    position:absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
    background-color: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.control_next{
    right: 0;
}
.box-row{
    display: flex;
    flex-wrap:wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}
.box-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background: #fff;
    max-width: 24%;
    min-height: 200px; 
    z-index:1;
}
.box-col a{
    font-size:13px;
    color:#009999;
    font-weight: 500;
}
.header-box{
    margin-top: -20vw;
}
.products-slider{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}
.products-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}
.products-slider .products img{
    max-width: 200px;
    max-height: 200px;
}
.products-slider .products::-webkit-scrollbar{
    display: none;
}
.product-slider-with-price{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}
.product-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}
.product-slider-with-price .products::-webkit-scrollbar{
    display: none;
} 
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background: #fbfbfb;
} 
.product-card img{
    width: 110px;
    margin: 0 50px;
} 
.product-offer p{
    background: #be0b3b;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 8px 0;
    font-size:13px;
}
.product-offer span{
    color: #be0b3b;
    font-weight: 500;
    font-size: 12px;
}
.product-price{
    color: grey;
    font-size: 13px;
}
.product-card h4{
    color: #525252;
    font-size: 15px;
    font-weight: 400;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #131921;
    padding: 20px 60px;
}

.back{
    background:#37475a;
    color:white;
    text-align:center;
    padding:15px;
    font-size:14px;
    cursor:pointer;
}

.back:hover{
    background:#485769;
}
.footer-container{
    background-color: #232f3e;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 120px;
    gap: 40px;
    font-family: Arial, sans-serif;
}
.footer-title{
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
}
.footer-container div div{
    font-size: 14px;
    color: #ddd;
    cursor: pointer;
    margin-bottom: 8px;
}

.footer-container div div:hover{
    text-decoration: underline;
}
.footer-bottom{
    background:#131a22;
    color:#ddd;
    text-align:center;
    padding:30px 80px;
}

.footer-logo img{
    width:100px;
    margin-bottom:12px;
}

.footer-lang{
    display:inline-block;
    border:1px solid #555;
    padding:6px 12px;
    margin-bottom:20px;
    font-size:14px;
    color:white;
}

.footer-countries{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    max-width:900px;
    gap:12px 18px;
    font-size:13px;
}

.footer-countries span{
    cursor:pointer;
}

.footer-countries span:hover{
    text-decoration:underline;
}
.footer-bottom{
    width: 100%;
    background:#131a22;
    color:#ddd;
    text-align:center;
    padding:30px 80px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* Overlay */
#sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 999;
}

/* Sidebar */
#sidebar {
    position: fixed;
    top: 0;
    left: -350px;
    width: 320px;
    height: 100vh;
    background: #fff;
    z-index: 1000;
    transition:  0.3s ;
    overflow-y: auto;
}

#sidebar.active {
    left: 0;
}

/* Header */
.sidebar-header {
    background: #131921;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#close-sidebar {
    font-size: 22px;
    cursor: pointer;
}

/* User text */
.sidebar-user {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Menu list */
.sub-items {
    list-style: none;
    padding: 10px;
}

.sub-items li {
    padding: 12px;
    cursor: pointer;
}

.sub-items li:hover {
    background: #f2f2f2;
}

.menu-header {
            font-weight: bold;
            font-size: 20px;
            margin-top: 20px; 
            margin-left: 20px;/* line break effect */
            list-style-type: none;
             margin-bottom: 10px; 
            
        }
        /* Sub-items styling */
        .sub-items {
            list-style-type: none; /* remove bullets */
            padding-left: 40px;
            margin: 5px 0 0 0;
            
        }
        .sub-items li {
           margin: 10px 0;
        }
/*- - - - - - - - - media query - - - - - - - - */

@media only screen and (max-width: 900px){
nav{
    flex-wrap: wrap;
    }
    .nav-search{
        order: 7;
        margin: 15px 0 5px;
        min-width: 300px;
    }
    .box-col{
        max-width: 48%;
    }
}
    
@media only screen and (max-width: 600px){
    .nav-country{
        display: none;
    }
    .nav-language{
        display: none;
    }
    .nav-text{
        display: none;
    }
    .nav-bottom{
        font-size: 13px;
        gap: 10px;
        overflow-x: scroll;
    }
    .nav-bottom::-webkit-scrollbar{
        display: none;
    }
    .nav-bottom p{
        text-wrap: nowrap;
    }
    .mobile-user-icon{
         display: flex !important;
         flex: 1;
         justify-content: flex-end;
    }
    .mobile-user-icon img{
        width: 25px;
    }
    .nav-cart h4{
        display: none;
    }
    .nav-cart img{
        width: 25px;
    }
    .header-Slider a{
        top: 24%;
        padding: 2vh 1vw;
        font-size: 15px;
    }
    .box-col{
        max-width: 100%;
        width: 100%;
    }
    footer{
        justify-content: center;
        flex-direction: column;
        font-size: 14px
    }
}